<section>
  <h2>Cart #{{id}}</h2>
  {{#unless productos}}
    <p>No hay items agregados al carrito</p>
  {{/unless}}
  {{#if productos}}
    {{#each productos}}
      <p>{{this.producto.codigo}} - {{this.producto.nombre}} - ${{this.producto.precioVenta}} - x{{this.cantidad}}</p>
    {{/each}}
  {{/if}}
</section>