<section>
  <h2>Cart #{{id}}</h2>
  {{#unless productos}}
    <p>No hay items agregados al carrito</p>
  {{/unless}}
  {{#if productos}}
    {{#each productos}}
      <p>{{this.producto.codigo}} - {{this.producto.nombre}} - ${{this.producto.precioVenta}} - x{{this.cantidad}}</p>
    {{/each}}
  {{/if}}
  <footer>
    <form id="cartForm">
      <label>Agrege un producto por codigo: </label>
      <input name="codigo">
      <button type="submit">Agregar</button>
    </form>
  </footer>
</section>

<script src="/carts.js" cartId="{{id}}"></script>